{% extends 'base.html' %}

{% block title %}

English to French Translator 

{% endblock %}


{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='translate.css') }}">
<h2> English to French Translator</h2>
<p> This project allows you to insert French sentences and translate them to 
    English sentences. </p>

<p> This works by taking advantage of the SOTA transformer models for translation 
    on HuggingFace Hub. 
</p>
<br>


<h3> Let's Go</h3>

<div class="form-wrapper">
    <form action="{{ url_for('translator_page') }}"  method="POST">
        <textarea name="text" rows="8" cols="50" placeholder="Enter a sentence in French"></textarea>
        <br><br>
        <input type="submit"/>
    </form>

<div class="container flash-message">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times</button>
        {{message}}
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}